// GREEN
$green: #1ABC9C;

// BLUE
$dark-blue: #51627F;

// BLACK
$black: #333333;

// GREY
$grey: #A8B4B1;
$light-grey: #C4C4C4;

// WHITE
$white: #FFFFFF;

// RESPONSIVE BREAKPOINTS
$tablet: 960px;
$celular: 460px;

// FONTS
$fonts: 'SF UI Text', sans-serif;